

<form method="POST" action="/photo/<%= photo.id %>/?_method=PUT">
<input type="text" name="name" value="<%= photo.name %>" />
<input type="text" name="description" value="<%= photo.description %>"/>
<input type="submit" value="Update photo details">
</form>