
<h1>Edit <%= photo.name %></h1>

<form enctype="multipart/form-data" action="/edit" method="POST">
  <input type="file" name="myFile">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="description" placeholder="Description">
  <input type="text" name="tag" placeholder="tag">
  <input type="submit">
</form>
