

<form method="POST" action="/edit/<%= "photo.id" %>/?_method=PUT">
<label for="photoName">Type</label>
<input type="text" name="photoName" value="<%= photo.name %>" />

<label for="photoName">Name</label>
<input type="text" name="photoName" value="<%= photo.description %>"/>

<input type="submit" value="Update photo details">
</form>