<h2>Home</h2>


<% if (!currentUser){ %>
<Button><a href="/auth/signup">Signup</a></Button>
<Button><a href="/auth/login">Login</a></Button>
<% } else { %>
<p>Hello, <%= currentUser.name %></p>
<Button><a href="/auth/logout">Logout</a></Button>
<Button><a href="/profile">Profile</a></Button>
<% } %>