


<form enctype="multipart/form-data" action="/photo" method="POST">
  <input type="file" name= "myFile">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="description" placeholder="Description">
  <input type="submit">
  <button>  
    <a href="/">Home</a>
  </button>
</form>

