<script type="text/javascript" src="https://product-gallery.cloudinary.com/all.js"></script>

<div class="wrap" id="wrap"></div>

<script>
  cloudinary.galleryWidget({
    container: '#wrap',
    cloudName: 'sambrace',
    mediaAssets: [{
      tag: "short"
    }, {
      tag: "short",
      mediaType: "video"
    }],
  }).render();

</script>