<html lang="en">
<body class="container">
<main>
<div class ='imgages'>
    <% currentUser.photos.forEach(function(photo) { %>
    <% console.log(photo.name) %>
    <h1><%= photo.name %></h1>
        <img src="<%= photo.url %>" style="max-height: 150px">
                 <%= photo.description %>
                <a href="/edit/<%= photo.id %>">Update</a>
            <% }); %>
    </div>
 <button>
<a href="/edit">Edit Your Photo</a>
</button>

</body>
</html>