
<div id= "profile">
<h2>Profile Page</h2>

<p>Hello, <%= currentUser.name %></p>

<button>
<a href="/new">UPLOAD</a>
</button>

<button>
<a href="/">Home</a>
</button>

<button>
<a href="/photo">Your Photos</a>
</button>
</div>