<h2>Profile Page</h2>

<p>Hello, <%= currentUser.name %></p>


<form enctype="multipart/form-data" action="/profile" method="POST">
  <input type="file" name="myFile">
  <input type="submit">
</form>

<% if (typeof url === 'string' && url) { %>
    <img style="width: 100%;" src="<%= url %>">
<% } else { %>
<p>GIVE ME PICY PICY FOO!!!!</p>
<% } %>


<a href="/">Home</a>
